name: Build API and Web images

on:
  workflow_dispatch:
  # * Has no effect since most are in another repo without CI, it's here for the sake of the example.
  push:
    paths:
      - ".github/workflows/build.yaml"
      - "mock/services/api"
      - "mock/services/web"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        target: [web, api]
    steps:
      - name: Setup | Add SSH known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -t ed25519,rsa ${{ secrets.TT_GITLAB_REPO_SERVER_ADDR }} >> ~/.ssh/known_hosts

      - name: Setup | Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ secrets.TT_GITLAB_REPO_NAME }}
          github-server-url: https://${{ secrets.TT_GITLAB_REPO_SERVER_ADDR }}
          submodules: false
          path: repo
          ssh-key: ${{ secrets.TT_GITLAB_KEY }}

      - name: Setup | Docker Build Metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v.5.10.0
        id: meta
        with:
          images: ${{ secrets.ECR_REGISTRY_URL }}/${{ matrix.target }}
          tags: |
            suffix=-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Setup | Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with: { platforms: linux/arm64 }

      - name: Setup | Log in to ECR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ secrets.ECR_REGISTRY_URL }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # - name: Setup | Build Docker Image
      #   uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
      #   env:
      #     DOCKER_BUILD_SUMMARY: "false"
      #     DOCKER_BUILD_CHECKS_ANNOTATIONS: "false"
      #     DOCKER_BUILD_RECORD_UPLOAD: "false"
      #   with:
      # context: ${{ inputs.TARGET }}
      #     file: ${{ inputs.TARGET }}/Dockerfile
      #     tags: ${{ env.HARBOR_REGISTRY_URL }}/${{ env.IMAGE_REPOSITORY_PATH }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      #     platforms: ${{ env.PLATFORMS }}
      #     provenance: false
      #     no-cache: true
      #     outputs: type=registry,oci-mediatypes=true,compression=zstd,force-compression=true,compression-level=9
